{
    "globals": {
        "require": false,
        "document": false,
        "window": false,
        "game": true,
        "signals": true,
        "Cocoon": false,
        "Phaser": false,
        "Settings": true,
        "BootState": true,
        "GameState": true,
        "PreloadState": true,
        "Bullet": true,
        "Weapon": true,
        "Plane": true
    }
}
