canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}


// scss-lint:disable IdSelector
#orientation {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0 auto;
    background-image: url('../../src/images/orientation.png');
    opacity: .5;
}


#app {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    max-height: 768px;
    margin: 0 auto;
}
